<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mayankaggarwal.viteventsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoninety"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashSlider"
            android:label="@string/title_activity_splash_slider"
            android:theme="@style/Theme.Intro"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Details"
            android:label="Details"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.TimeTable"
            android:label="TimeTable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ImageGallery"
            android:label="ImageGallery"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Faculties"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.FacultyInformation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AverageAttendance"
            android:label="@string/title_activity_average_attendance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Events"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EventDetails"
            android:parentActivityName=".activities.Events"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EventRegister"
            android:parentActivityName=".activities.EventDetails"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Messages"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ImageFull"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Hosteller"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.LeaveRequest"
            android:parentActivityName=".activities.Hosteller"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.OutingRequest"
            android:parentActivityName=".activities.Hosteller"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ExamSchedule"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.LateNightRequest"
            android:parentActivityName=".activities.Hosteller"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.DigitalAssignment"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.DigitalMarks"
            android:parentActivityName=".activities.DigitalAssignment"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Marks"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>