<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vitgo.mayankaggarwal.viteventsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/goicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.SplashSlider"
            android:label="@string/title_activity_splash_slider"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.Details"
            android:label="Details"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.TimeTable"
            android:label="TimeTable"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.ImageGallery"
            android:label="ImageGallery"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.Faculties"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.FacultyInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.AverageAttendance"
            android:label="@string/title_activity_average_attendance"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.Events"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.EventDetails"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.Events"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.EventRegister"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.EventDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.Messages"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.ImageFull"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.Hosteller"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.LeaveRequest"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.Hosteller"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.OutingRequest"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.Hosteller"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.ExamSchedule"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.LateNightRequest"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.Hosteller"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.DigitalAssignment"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.DigitalMarks"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.DigitalAssignment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.Marks"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.Settings"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.AboutUs"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.PrivacyPolicy"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.Settings"
            android:screenOrientation="portrait" />
        <activity android:name="com.vitgo.mayankaggarwal.viteventsapp.activities.OpenSource"
            android:parentActivityName="com.vitgo.mayankaggarwal.viteventsapp.activities.Settings"
            android:screenOrientation="portrait"/>

        <service android:name="com.vitgo.mayankaggarwal.viteventsapp.utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/goicon" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/myColor" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="09f4bc76fce1411ee8bd636e348ddfa010ed03df" />


    </application>

</manifest>